@model IEnumerable<Nhom8.QuanlyBanGiay.Admin.Models.HoaDonNhap>
@{
    ViewData["Title"] = "HDN";
    Layout = "_LayoutHDN";
}

@foreach (var item in Model)
{
    <tr>
        <td class="first">@Html.DisplayFor(modelItem => item.MaHdn)</td>
        <td>@Html.DisplayFor(modelItem => item.MaNv)</td>
        <td>@Html.DisplayFor(modelItem => item.MaNcc)</td>
        <td>@Html.DisplayFor(modelItem => item.NgayNhap)</td>
        <td>@Html.DisplayFor(modelItem => item.TongTien)</td>
        <td>
            <a asp-action="Edit" asp-controller="HoaDonNhaps" asp-route-id="@item.MaHdn">Edit</a> |
            <a asp-action="Delete" asp-controller="HoaDonNhaps" asp-route-id="@item.MaHdn">Delete</a> |
            <a asp-action="Details" asp-controller="ChiTietHdns" asp-route-id="@item.MaHdn">Details</a>
        </td>
    </tr>
}