@model IEnumerable<Nhom8.QuanlyBanGiay.Admin.Models.Giay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenGiay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KieuDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KichCo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MauSac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaNhap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaGoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanTramGiam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenGiay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KieuDang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KichCo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MauSac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaNhap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaGoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanTramGiam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhGia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaGiay">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaGiay">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaGiay">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
